body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

header {
  background-color: #07131ccf;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 2rem;
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px){ 
nav{
    display: flex;
    flex-direction: column;
    align-items: center;

}
main{
    padding: 1rem;
}
header h1{
    font-size: 1.5rem;
    }
}
body{
    background-image: url('https://img.freepik.com/fotos-premium/calle-ciudad-cyberpunk-entrada-al-tunel_639785-173313.jpg?semt=ais_hybrid&w=740');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}
body {
  font-family: 'Roboto', sans-serif;
}
.tarjetas {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 2rem 0;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 250px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

button {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}
/* Claro por defecto */
body {
  background-color: #f3f3f3;
  color: #f1eded;
  transition: background-color 0.3s, color 0.3s;
}

/* Oscuro */
body.dark-mode {
  background-color: #121212;
  color: #f3f3f3;
}

header {
  background-color: #007acc;
  color: white;
  padding: 1rem;
  text-align: center;
}

body.dark-mode header {
  background-color: #1e1e1e;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

#modoBtn {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

body.dark-mode #modoBtn {
  border-color: #aaa;
  color: #aaa;
}
/* Estilo del botón hamburguesa */
.hamburguesa {
  display: none;
  background-color: #007acc;
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

/* Diseño del menú en pantallas grandes */
nav.menu {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* Para móviles: ocultar menú y mostrar botón hamburguesa */
@media (max-width: 768px) {
  .hamburguesa {
    display: block;
    margin: 10px auto;
  }

  nav.menu {
    display: none;
    flex-direction: column;
    background-color: #007acc;
    padding: 1rem;
  }

  nav.menu.abierto {
    display: flex;
  }

  nav.menu a,
  nav.menu button {
    color: white;
    margin: 10px 0;
  }
}


